{% extends 'home/layouts/app.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    {% include 'home/partials/block-book.html' %}
    <div class="col-md-6">
        <div class="card mt-3">
        <div class="card-body">
            {% if history or can_update  %}
                <form action="{% url 'book:buy' buy.id %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input
                        type="hidden"
                        name="update"
                        value="update"
                    >
                    {% if not history %}
                        <button type="submit" class="btn btn-danger btn-block mt-2">Update Buy</button>
                    {% endif%}
                 </form>
            {% else %}
                <form action="{% url 'book:buy' book.id %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input
                        type="hidden"
                        name="current"
                        value="{{request.get_full_path}}"
                    >
                    <button type="submit" class="btn btn-info btn-block mt-2">Buy</button>
                 </form>
            {% endif %}
        </div>
    </div>
    </div>
</div>
{% endblock %}