{% extends 'home/layouts/app.html' %}
{% load static %}

{% block content %}
    <div class="col col-md-11 mt-5 ml-5">
        <div class="card">
            <div class="card-body">
                 <h1>{{ book.title }}</h1>
                <div class="row mt-5">
                    <div class="col col-md-4">
                        <img class="card-img-top img-thumbnail" src="/{{ book.image }}" alt="Card image">
                    </div>
                    <div class="col col-md-7 mt-2 ml-4">
                        <a href="{% url 'book:category' book.category.id %}">
                            <p> Category: {{ book.category.title }}</p>
                        </a>
                        <p> Authors: {{ book.author }}</p>
                        <p> Pages: {{ book.pages }}</p>
                        <p> Publish Date: {{ book.publish_date|date:'Y-m-d' }}</p>
                        <p><i>{{ book.description }}</i></p>
                        <div class="row">
                            {% if mark.id == 0 or mark.status == 0 %}
                            <form action="{% url 'book:mark-book' mark.id %}" method="post">
                                {% csrf_token %}
                                <input
                                    type="hidden"
                                    name="current"
                                    value="{{request.get_full_path}}"
                                >
                                <input
                                    type="hidden"
                                    name="reading"
                                    value="{{ book.id }}"
                                >
                                <button type="submit" class="btn btn-outline-info">
                                    <i class="fas fa-book"></i>
                                    Reading
                                </button>
                            </form>
                            <form  action="{% url 'book:mark-book' mark.id %}" method="post">
                                 {% csrf_token %}
                                <input
                                    type="hidden"
                                    name="current"
                                    value="{{request.get_full_path}}"
                                >
                                <input
                                    type="hidden"
                                    name="read"
                                    value="{{ book.id }}"
                                >
                                <button type="submit" class="btn btn-outline-success">
                                    <i class="fas fa-check"></i>
                                    Read
                                </button>
                             </form>
                            {% elif mark.status == 1 %}
                             <form action="{% url 'book:mark-book' mark.id %}" method="post">
                                 {% csrf_token %}
                                 <input
                                    type="hidden"
                                    name="current"
                                    value="{{request.get_full_path}}"
                                 >
                                  <input
                                    type="hidden"
                                    name="read"
                                 >
                                <button type="submit" class="btn btn-info">
                                    <i class="fas fa-book"></i>
                                    Reading
                                </button>
                             </form>
                            {% elif mark.status == 2 %}
                            <form action="{% url 'book:mark-book' mark.id %}" method="post">
                                 {% csrf_token %}
                                <input
                                    type="hidden"
                                    name="current"
                                    value="{{request.get_full_path}}"
                                 >
                                 <input
                                    type="hidden"
                                    name="unread"
                                 >
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-check"></i>
                                    Read
                                </button>
                            </form>
                            {% endif %}

                            {% if favorite is None %}
                            <form action="{% url 'book:favorite-book' book.id %}" method="post">
                                {% csrf_token %}
                                <input
                                    type="hidden"
                                    name="current"
                                    value="{{request.get_full_path}}"
                                >
                                <input
                                    type="hidden"
                                    name="favorite"
                                    value="favorite"
                                >
                                <button type="submit" class="btn btn-outline-danger">
                                    <i class="fas fa-heart"></i>
                                    Love
                                </button>
                            </form>
                            {% else %}
                             <form action="{% url 'book:favorite-book' favorite.id %}" method="post">
                                {% csrf_token %}
                                <input
                                    type="hidden"
                                    name="current"
                                    value="{{request.get_full_path}}"
                                >
                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-heart"></i>
                                    Love
                                </button>
                             </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'home/books/review-book.html' %}
    </div>
{% endblock %}
