{% extends 'home/layouts/app.html' %}
{% load static %}

{% block content %}
    <div class="col col-md-11 mt-5 ml-5">
        <div class="card">
            <div class="card-body">
                 <h1>Educated A Memoir</h1>
                <div class="row mt-5">
                    <div class="col col-md-4">
                        <img class="card-img-top img-thumbnail" src="/static/home/images/uploads/2020/04/book_3.png" alt="Card image">
                    </div>
                    <div class="col col-md-4 mt-2 ml-4">
                        <a href="{% url 'book:category' book.category.id %}">
                            <p> Category: {{ book.category.title }}</p>
                        </a>
                        <p> Authors: {{ book.author }}</p>
                        <p> Pages: {{ book.pages }}</p>
                        <p> Publish Date: {{ book.publish_date|date:'Y-m-d' }}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}