<nav class="row navbar navbar-expand-sm bg-info justify-content-center">
    <div class="col col-md-2">
         <a class="navbar-brand" href="{% url 'base:index' %}">Logo</a>
    </div>
    <div class="col col-md-6">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'book:list' %}">Categories</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'book:list' %}">All Books</a>
                    {% for category in  categories%}
                        <a class="dropdown-item" href="{% url 'book:category' category.id %}">{{ category.title }}</a>
                    {% endfor %}
                </div>
              </li>
             <li class="nav-item">
                <a class="nav-link" href="#">Link 1</a>
            </li>
        </ul>
    </div>
    <div class="col col-md-4">
        <form class="form-inline" method="get" action="{% url 'book:search' %}">
            <input class="form-control mr-sm-2" name="search" type="text" placeholder="Search">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
    </div>
</nav>

