{% load static %}
<div class="col col-md-3 mt-2">
    <div class="card">
        <img class="card-img-top img-thumbnail" src=" /{{ book.image }} " alt="Card image" style="height: 250px">
        <div class="card-body">
            <a href="{% url 'book:review' book.id %}"><h5 class="card-title">{{ book.title }}</h5></a>
            <small>{{ book.author }}</small>
            <hr>
            <i class="fas fa-heart text-danger day"></i>
            <small>{{ book.favorites.count }}</small>
            <i class="fas fa-comment text-info day"></i>
            <small>{{ book.reviews.count }}</small>
        </div>
    </div>
</div>