{% load static %}
<div class="col col-md-3 mt-3">
    <div class="card">
        <img class="card-img-top img-thumbnail" src=" /{{ book.image }} " alt="Card image" style="height: 250px">
        <div class="card-body">
            <a href="{% url 'book:review' book.id %}"><h5 class="card-title">{{ book.title }}</h5></a>
            <small>{{ book.author }}</small>
            <hr>
            <i class="fas fa-heart text-danger day"></i>
            <small>{{ book.favorites.count }}</small>
            <i class="fas fa-comment text-info day"></i>
            <small>{{ book.reviews.count }}</small>
            <br>

            {% if buy %}
                {% if buy.status == 1 %}
                    <a href="{% url 'book:history' buy.id %}" class="btn btn-success btn-block btn-sm mt-2">Approve</a>
                {% elif buy.status == 2 %}
                    <a href="{% url 'book:history' buy.id %}" class="btn btn-danger btn-block btn-sm mt-2">Cancel</a>
                {% else %}
                    <a href="{% url 'book:history' buy.id %}" class="btn btn-info btn-block btn-sm mt-2">Demanding</a>
                {% endif%}
            {% endif %}
        </div>
    </div>
</div>