{% extends 'base/base.html' %}

{% load crispy_forms_tags %}
{% block app %}
    <div class="row justify-content-center">
        <div class="col col-md-5 mt-5">
            <div class="card">
                <div class="card-body">
                    <h1>Login</h1>
                    <hr>
                    <form action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <hr>
                         <a href="{% url 'login' %}">
                            <h6>
                                Back to Login ?
                            </h6>
                        </a>
                        <button type="submit" class="btn btn-info btn-block">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
