{% extends 'home/layouts/app.html' %}

{% block content %}
<div class="col col-md-12 mt-5">
    <div class="row justify-content-center mb-5">
        <div class="col col-md-1 text-center">
            {% if user_sys.avatar %}
            <img class="avatar-custom" src="/{{user_sys.avatar}}">
            {% else %}
            <img class="avatar-custom" src="/static/home/images/avatar.png">
            {% endif %}
        </div>
        <div class="col col-md-3">
            <h1>{{user_sys}}</h1>
            {{user_sys.email}}
            <br>
            {% if user_sys == request.user %}
            {% elif is_follow %}
            <form action="{% url 'user:follow-user' user_sys.id %}" method="post">
                {% csrf_token %}
                <input
                        type="hidden"
                        name="current"
                        value="{{request.get_full_path}}"
                >
                <button type="submit" class="btn btn-success btn-sm">Following</button>
            </form>
            {% else %}
            <form action="{% url 'user:follow-user' user_sys.id %}" method="post">
                {% csrf_token %}
                <input
                        type="hidden"
                        name="current"
                        value="{{request.get_full_path}}"
                >
                <input
                        type="hidden"
                        name="follow"
                        value="follow"
                >
                <button type="submit" class="btn btn-outline-success btn-sm">Follow</button>
            </form>
            {% endif %}
        </div>

    </div>

</div>
{% if is_follow or user_sys == request.user %}
<div class="col col-md-12">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Favorites</a>
        </li>
        {% if user_sys == request.user %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Reading</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Read</a>
        </li>
        {% endif %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <div class="row">
                {% for book in favorite_books %}
                {% include 'home/partials/block-book.html' %}
                {% endfor %}
            </div>
        </div>
        {% if user_sys == request.user %}
        <div id="menu1" class="container tab-pane fade"><br>
            <div class="row">
                {% for book in reading_books %}
                {% include 'home/partials/block-book.html' %}
                {% endfor %}
            </div>
        </div>
        <div id="menu2" class="container tab-pane fade"><br>
            <div class="row">
                {% for book in read_books %}
                {% include 'home/partials/block-book.html' %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}